---
import Layout from "../layouts/Layout.astro"
import Letter from "../components/Letter.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Letter Hunt Gift">
    <div class="w-full mt-32 flex justify-center md:items-center">
        <Letter />
    </div>
    <div class="mt-24 flex justify-center"><a href="/" class=" underline text-slate-300 hover:text-white text-base hover:scale-105">Go back to home</a></div>
    <Footer />
</Layout>