---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Letter Hunt">
	<section class="h-screen flex flex-col justify-center items-center px-12 w-full">
		<div class="xl:w-7/12 lg:w-4/6">
			<div id="intro" class="w-full flex items-start leading-7"></div>
		</div>
		<a href="/home" id="link"><button class="button mt-10 py-2 px-5"><span>START GAME</span></button></a>
	</section>
</Layout>

<script>
	const text: string =  "Happy Monthsary, my love!/ I've put together a little adventure for you. Solve each riddle to reveal a letter or number, and once you have them all, a special surprise awaits. Enjoy every moment, my heart!"
	const domElement = document.getElementById('intro')
	let i: number = 0

	const link = document.getElementById('link') as HTMLElement

	link.style.display = 'none'
	link.style.visibility = 'hidden'

	function type() {
		if(domElement && i < text.length) {
			domElement.innerHTML += text.charAt(i) === '/' ? '<br>' : text.charAt(i)
			i++
			setTimeout(type, 50)
		} else {
			setTimeout(()=>{
				link.style.display = 'flex'
				link.style.visibility = 'visible'
			},500)
			
		}
		
	}

	document.addEventListener('DOMContentLoaded', type)
</script>

<style>
	#intro {
		font-family: "Shadows Into Light", serif;
		color: white;
		letter-spacing: 2px;
		
	}

	button {
  		padding: 0.1em 0.25em;
  		width: 13em;
  		height: 4.2em;
  		background-color: #212121;
  		border: 0.08em solid #fff;
  		border-radius: 0.3em;
  		font-size: 12px;
  		cursor: pointer;
	}

	button span {
  		position: relative;
  		display: flex;
  		justify-content: center;
  		align-items: center;
 		bottom: 0.4em;
  		width: 8.25em;
  		height: 2.5em;
  		background-color: #13151a;
  		border-radius: 0.2em;
  		font-size: 1.5em;
  		color: #fff;
  		border: 0.08em solid #fff;
  		box-shadow: 0 0.4em 0.1em 0.019em #fff;
	}

	button span:hover {
  		transition: all 0.5s;
  		transform: translate(0, 0.4em);
  		box-shadow: 0 0 0 0 #fff;
	}

	button span:not(hover) {
  		transition: all 1s;
	}

</style>
