---

---

<footer class="w-full mt-36 bottom-0 flex items-center justify-center h-12 border-4 border-b-0 border-slate-200 bg-white">
    <div class="text-slate-700 font-mono text-wrap text-center text-md">@2024 Letter Hunt | Todos los derechos reservados</div>
</footer>