---

---

<header class="flex justify-between items-center w-full fixed  bg-white top-0 z-10">
    <div  class="flex flex-grow basis-0 my-2 ml-6">
        <a href="/home">
            <img src="/logo.svg" alt="Letter Hunt Logo" class="max-w-48">
        </a>
    </div>
    <div class="mr-8 my-2">
        <button class="py-2 px-7">
            CODE
        </button>
    </div>
</header>

<style>
    button {
        background-color: whitesmoke;
        border: 2px solid black;
        box-shadow: 6px 7px 0 black;
    }
    button:hover {
        transform: translate(2px, 3px);
        box-shadow: 2px 3px 0 black;
    }

    button span {
        

    }

</style>

