---

---


<div class="flex flex-col items-center w-4/5 xl:w-2/4  md:mt-0 text-white text-justify">
    <h2 class="text-5xl italic mb-12">20th Special</h2>
    <p class="text-xl leading-10">
        Mi niña, I know it's been 3 days since our monthssary and I know that this is just a website, but I hope you like it. This is the reason why I had been coding since the 24th night, I wanted to give you something special since I can't be there to celebrate it with you.<br>
        It may be simple, but I hope every detail reminds you of how special you are to me and how grateful I am to have you by my side.<br>
        For the past 20 months and 3 days you have made me the happiest, as a partner and as a person. You have taught me how much joy can fit into a single moment shared with the right person as well as how much someone can change for love. 
        You are the most beautiful woman ever and I hope we get to spend the rest of our lives together. Please know how much you're loved, I'm sorry if I don't show it as much as I should but be sure that I'll love you always preciosa and that you're the only one for me.<br>
        I love you so much preciosa, we'll see each other soon. I can't wait to be with you.<br>
        I love you my dear, te amo. Happy Monthssary queen.
    </p>
</div>
