---
import ClueCard from "./ClueCard.astro";
---

<div class="md:mt-40 mt-48 grid gap-8 lg:gap-9 xl:gap-11 sm:grid-cols-2 lg:grid-cols-3">
    <ClueCard title="Coincide" text="Two souls share a moment, though years apart, marked by the chill, yet warmed by the heart. What time of year do we each make our mark?"/>
    <ClueCard title="The first" text="It was the first time you gave them to me, and my heart's never been the same. Think back to that moment, to the words you said, when you first told me how you felt. What did you say?" />
    <ClueCard title="Favorite" text="It's the dish that warms your heart and makes you feel at home, with flavors so rich, it's the taste you always crave. When you think of comfort, it's what you're dreaming of. What is it?"/>
</div>

